name: Deployment tests
on:
    pull_request:
        branches:
            - main
jobs:
    unit_test:
        name: Unit tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js 18
              uses: actions/setup-node@v2
              with:
                  node-version: 18
            - name: npm ci, build and test
              run: |
                  npm ci
                  npm test
    test_setup:
        needs: unit_test
        name: Test setup
        runs-on: ubuntu-latest
        outputs:
            preview_url: ${{ steps.waitForVercelPreviewDeployment.outputs.url }}
        steps:
            - name: Wait for Vercel preview deployment to be ready
              uses: patrickedqvist/wait-for-vercel-preview@v1.2.0
              id: waitForVercelPreviewDeployment
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  max_timeout: 600
    test_e2e:
        needs: test_setup
        name: Playwright tests
        timeout-minutes: 25
        runs-on: ubuntu-latest
        container:
            image: mcr.microsoft.com/playwright:v1.30.0-focal
        steps:
            - name: Prepare testing env
              uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '18'
            - run: npm ci
            - name: Run e2e tests
              run: HOME=/root npm run test:e2e
              env:
                  BASE_URL: ${{ needs.test_setup.outputs.preview_url }}
            - uses: actions/upload-artifact@v2
              if: always()
              with:
                  name: playwright-report
                  path: playwright-report/
                  retention-days: 3
